
.header-container {
  margin: 0;
  padding: 0;
}

.bg-dark {
  background-color: #ffffff;
  color: white;
}


.text-left {
  text-align: left;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px; 
  padding: 0;
}

.tab-button {
  background-color: #495057;
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.tab-button i {
  margin-right: 8px;
}

.tab-button.active {
  background-color: #007bff; /* Blue color for active tab */
}

.tab-button:hover {
  background-color: #6c757d; /* Darken the background on hover */
}

.nav-links {
  margin-top: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.nav-link:hover {
  background-color: #495057;
}

/* Optional: Add some padding to the tab-content for better spacing */
.tab-content {
 
  border-radius: 5px;
  margin-top: 20px;
}
